<p style="color: green"><%= notice %></p>

<% content_for :title, "Artists" %>

<h1>Artists</h1>

<div id="artists">
  <% @artists.each do |artist| %>
    <%= render partial: 'artist', locals: { artist: artist, user_pref: @user_prefs[artist.id] } %>
    <p>
      <%= link_to "Show this artist", artist %>
    </p>
  <% end %>
</div>

<%= link_to "New artist", new_artist_path %>
