<% content_for :title, "New release type" %>

<h1>New release type</h1>

<%= render "form", release_type: @release_type %>

<br>

<div>
  <%= link_to "Back to release types", release_types_path %>
</div>
